@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Archivo+Black&family=Bebas+Neue&family=Bungee&family=Do+Hyeon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Guerrilla&family=Rowdies:wght@300;400;700&family=Special+Elite&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Dhurjati&family=Island+Moments&family=Playfair+Display&family=Rubik+Doodle+Shadow&family=Source+Code+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Protest+Guerrilla&display=swap');


* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  background-image: url(../imagens/backgroundBody.jpg);
  background-size: cover;
  gap: 0.5rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.label{
    display: none;
}
@media(max-width:768px){
.label{
    display: flex;
    align-items:center;
    height:4rem;
    justify-content: space-between;
 }
}

.header {
  border-bottom: 1px solid rgb(162, 0, 243);
  background-color: rgba(8, 8, 8, 0.54);
  padding: 1rem;
  overflow:hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header {
    z-index: 5;
    background-color: rgba(8, 8, 8, 0.84);
    display:block;
    position: fixed;
    margin-bottom: 2rem;
    padding: 0;
  }
}

@media(max-width:425px){
 .UlSm{
    font-size: medium;
 }
}
@media(max-width:320px){
    .UlSm{
        font-size:small;
 }
}


.CollapseH{
  width: 100%;
} 

.text-Prin {
  color: #dc2929;
  font-family: fantasy;
}

.NavH {
  margin: 0;
}

@media (max-width: 768px) {
  .NavH {
    margin: 0;
    padding: 0.5rem;
  }
}
.Copy {
  display: none;
}

@media (max-width: 768px) {
  .Copy {
    display: block;
    text-shadow: 0.2rem 0.2rem 0.1rem black;
    color: rgb(152, 152, 152);
  }
}
.BtnH {
  display: none;
}

@media (max-width: 768px) {
  .BtnH {
    padding:0.5rem;
    color: aliceblue;
    margin: auto auto auto auto;
    border: 0.5px solid rgb(162, 0, 243);
    display: block;
  }
}
@media (max-width: 768px) {
  .btnLH {
    background-color: aqua;
    font-family: "Source Code Pro";
    font-weight: 500;
    width: 100%;
    box-shadow: 0.2rem 0.2rem 1rem black;
    height: auto;
  }
}
.ListH {
  border: none;
  width: 100%;
  background-color: transparent;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  #ListHam {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) {
  #ListHam {
    display: none;
  }
}
#BtnHOn {
  display: none;
}

.containerH {
  display: none;
}

@media (max-width: 768px) {
  .containerH {
    backdrop-filter: blur(50px);
    border: 0.1px solid rgb(162, 0, 243);
    position: absolute;
  }
}
.labelH {
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .ComeBackH {
    width: 100%;
    height: 100%;
    color: aliceblue;
    position: fixed;
    z-index: 3;
  }
}
.img {
  margin: 0;
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .img {
    padding: 0.5rem;
  }
}
.ListNav {
  margin: 0;
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .ListNav {
    display: none;
  }
}
.ListItem {
  border: none;
  background-color: transparent;
  margin: 0.5rem;
}

.hamCel {
  display: none;
}

@media (max-width: 768px) {
  .hamCel {
    background-color: gray;
    display: block;
  }
}
.btnPC {
  font-weight: 400;
  color: aliceblue;
  background-color: transparent;
  transition: 1s;
}
.btnPC:hover {
  transition: 1s;
  color: rgb(1, 81, 218);
}


.container00 {
  display: grid;
  border-bottom: 1px solid rgb(162, 0, 243);
  margin-bottom: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}

@media (max-width: 1024px) {
  .container00 {
    display: grid;
    border-bottom: 1px solid rgb(162, 0, 243);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .container00 {
    display: flex;
    height: 100vh;
    padding: 0;
    margin-bottom: 0;
    flex-direction: column-reverse;
  }
}
@media (max-width: 425px) {
  .container00 {
    height: 100vh;
  }
}
@media (max-width: 320px) {
  .container00 {
    padding: 0;
    margin: 0 auto;
  }
}
.container01 {
  margin: 0.5rem auto auto auto;
  padding: 0.5rem;
  width: 80%;
  height: max-content;
}

@media (max-width: 768px) {
  .container01 {
    padding: 1rem;
    margin-top: 0.5rem 0 0.5rem 0;
    width: 100%;
    height: max-content;
  }
}
.container02 {
  display: block;
}

@media (max-width: 425px) {
  .container01 {
    padding: 1rem;
    width: 100%;
    margin-top: 0.5rem;
    padding: 0;
    height: 75vh;
  }
}

@media(max-width:320px){
  .container01 {
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    height: 65vh;
  }
}


.ContainerProjetos {
  height: max-content;
  margin: 1rem auto;
  display: grid;
  column-gap: 1rem;
  row-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1f;
}

@media (max-width: 768px) {
  .ContainerProjetos {
    border: 1px solid rgb(162, 0, 243);
    border-radius: 5%;
    overflow: hidden;
    padding: 0.5rem;
    display: block;
    height: 67vh;
    overflow-y: auto;
    z-index: 1;
  }
}
.TitleCardContainer {
  color: aliceblue;
  text-decoration: underline;
  font-family: monospace;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  grid-column: 3/7;
  margin-bottom: 1rem;
  grid-row: auto;
}

@media (max-width: 768px) {
  .TitleCardContainer {
    width: max-content;
    padding-inline: 2rem;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 15px;
    z-index: 3;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    background-color: rgba(55, 55, 55, 0.847);
    text-decoration: underline;
    font-family: monospace;
    font-size: xx-large;
  }
}

@media (max-width: 425px) {
  .TitleCardContainer {
    align-items: center;
    font-size: large;
  }
}



/*.card {
width: 75%;
height: 100%;
}*/

.Card1 {
  width: 75%;
height: 100%;
  grid-column: 1/4;
  grid-row: 2/3;
}

.Card2 {
  width: 75%;
height: 100%;
  grid-column: 5/8;
  grid-row: 2/3;
}

.Card3 {
  width: 75%;
height: 100%;
  grid-column: 1/4;
  grid-row: 6/7;
}

.Card4 {
  width: 75%;
height: 100%;
  grid-column: 5/8;
  grid-row: 6/7;
}

.Card5{
  width: 75%;
height: 100%;
grid-column:1/4;
  grid-row:7/8;
}

@media (max-width: 768px) {
  .Card1, .Card2, .Card3, .Card4, .Card5 {
    border-radius: 3%;
    overflow: hidden;
    width: 80%;
    height: max-content;
  }
}

@media(max-width: 425px) {
  .Card1, .Card2, .Card3, .Card4, .Card5 {
    border-radius:5%;
    margin-bottom: 2rem;
    padding:0.2rem;
    overflow: hidden;
    width: 100%;
    height:max-content;
  }
}

@media(max-width: 320px) {
  .Card1, .Card2, .Card3,.Card4, .Card5 {
    border-radius:5%;
    margin-bottom: 1rem;
    padding:0.2rem;
    overflow: hidden;
    width: 100%;
    height:max-content;
  }
}

#insta {
  color: #a220df;
}

.TextCard {
  padding: 0.5rem;
  text-indent: 0.5rem;
}

@media(max-width: 768px) {
  .TextCard {
    padding: 0.5rem;
    text-indent: 0.5rem;
    font-family:sans-serif;
    font-style:oblique;
    font-size: larger;
  }
}

@media(max-width:320px){
  .TextCard {
    padding: 0.2rem;
    margin: 0.5rem;
      font-style:oblique;
    text-indent: 0.2rem;
    font-size: small;
  }
}

.caro {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1024px) {
  .caro {
    width: 100%;
    overflow: hidden;
    overflow: scroll;
    height: 500px;
    margin: 0 auto;
    text-align: center;
  }
}

@media(max-width: 768px) {
  .caro {
    width: 100%;
    overflow: hidden;
    height: 80vh;
    margin: 0 auto;
    text-align: center;
  }
}

@media(max-width: 425px) {
  .caro {
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    text-align: center;
  }
}

@media(max-width:320px){
  .caro {
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    text-align: center;
  }
}

.TitleCardCaro{
   width: max-content;
    left: 0;
    right: 0;
    padding: 0.5rem;
    border-radius: 15px;
    z-index: 3;
    color: rgb(255, 255, 255);
    background-color: rgba(55, 55, 55, 0.244);
    text-decoration: underline;
    font-family: monospace;
    font-size: xx-large;
}

@media(max-width: 768px) {
  .TitleCardCaro {
    font-size: larger;
    margin: auto auto 0 auto;
  }
}

@media(max-width:425px){
.Cinner{
margin-top: 2rem;
 }
}


.TitleCard {
  margin: 0;
  text-align: left;
}

.card {
  margin: 0 auto;
  transition: 1s;
}
.card:hover {
  transition: 1s;
  z-index: 1;
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(69, 69, 69);
}

@media (max-width: 768px) {
  .card {
    margin: 0.5rem auto 0.5rem auto;
  }
}

.cartao1, .cartao2, .cartao3, .cartao4 {
  align-self: flex-end;
  margin: 0 auto;
  width: 50%;
  height: 100%;
}

@media (max-width: 768px) {
  .cartao1, .cartao2, .cartao3, .cartao4 {
    margin:2rem auto auto auto;
    width: 75%;
    height: max-content;
  }
}

@media(max-width: 425px){
  .cartao1, .cartao2, .cartao3, .cartao4 {
    margin: 0.5rem auto auto auto;
    width:  75%;
    height: max-content;
  }
}
@media(max-width:320px){
  .cartao1, .cartao2, .cartao3, .cartao4 {
    margin: 0.5rem auto auto auto;
    width:  75%;
    height: max-content;
  }
}


@media(max-width:768px){
.ImgCard{

  width: 50%;
  height: 50%;
  border-radius: 10px;
}
}

@media(max-width:425px){
  .ImgCard{

    width: 50%;
    height: 50%;

 }
}
@media(max-width:320px){
  .ImgCard{
    width: 25%;
    height: 20%;
 }
}
 
.TextCar {
  color: black;
  font-weight: 500;
  padding: 0.5rem;
  text-align: left;
  text-indent: 0.5rem;
}

@media(max-width:768px){
  
  .TextCar{
    font-size: large;
  }
}
@media(max-width:425px){
  .TextCar{
    font-size:small;
    margin: 0;
  }
}

@media(max-width:320px){
  .TextCar{
    font-size:x-small;
    margin: 0;
  }
}


.TitleCar {
  font-family:'Protest Guerrilla', sans-serif;
  font-size: 40px;
  width: auto;
}

@media(max-width: 768px) {
  .TitleCar {
    font-family:'Protest Guerrilla', sans-serif;
    font-size: 30px;
    text-decoration: underline;
    width: auto;
    text-align: center;
  }
}

@media(max-width:425px){
.LinkCaro{
   height:auto;

 }
}

@media (max-width: 768px) {
  .BtnCaro {
    color: rgb(255, 255, 255);
    width: 60%;
    height: 100%;
  }
}

@media(max-width:425px){
  .BtnCaro{
    height: 50%;
  }
}

.CardWid {
  width: auto;
  margin: auto;
  border: 0.5px solid black;
  height: 250px;
}

.container-conteudo {
  width: 100%;
  grid-column: 1/5;
  grid-row: 2/3;
  z-index:3;
}


@media (max-width: 1024px) {
  .container-conteudo {
    width: 100%;
    grid-column: 1/5;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.776);
    grid-row: 3/4;
  }
}
@media (max-width: 768px) {
  .container-conteudo {
    width: 100%;
    height: auto;
    background-color: rgba(34, 34, 34, 0.785);
    left: 0;
    right: 0;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    z-index: 1;
  }
}
@media (max-width: 425px) {
  .container-conteudo {
    width: 100%;
    height: auto;
    background-color: rgba(34, 34, 34, 0.776);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: absolute;
    padding: 0.5rem;
    justify-content: center;
    z-index: 1;
  }
}
@media(max-width:320px){
  .container-conteudo{
    margin-bottom: 0.5rem;
  }
}
.text-Prin {
  text-indent: 0.8rem;
  font-size: x-large;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  color: rgb(214, 214, 214);
}

@media(max-width:768px){
  .text-Prin{
    font-size: larger;
  }
}

@media (max-width: 425px) {
  .text-Prin {
    padding: 0.2rem;
    color: white;
    font-size: small;
    text-indent: 0.3rem;
  }
}

@media(max-width:320px){
  .text-Prin{
    font-size: x-small;
  }
}
.imgProgram {
  height: 100%;
  width: 100%;
  grid-column: 4/7;
  grid-row: 1/5;
}

@media (max-width: 1024px) {
  .imgProgram {
    align-self: center;
    grid-column: 1/5;
    margin: auto auto auto auto;
    z-index: 0;
  }
}
@media (max-width: 768px) {
  .imgProgram {
    align-self: center;
    position: absolute;
    margin: auto auto auto auto;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}
@media (max-width: 425px) {
  .imgProgram {
    height: 100%;
  }
}
@media (max-width: 320px) {
  .imgProgram {
    height: 100%;
  }
}
.Final {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid purple;
  width: auto;
  height: 20vh;
  background-color: rgb(55, 55, 55);
}

@media (max-width: 768px) {
  .Final {
    text-align: center;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
.ListFooter {
  width: auto;
  margin: 0;
  font-size: larger;
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .ListFooter {
    width: 75%;
    margin: auto;
    font-size: medium;
    display: block;
  }
}
.ListF {
  background-color: transparent;
  border: none;
  color: aliceblue;
}

@media (max-width: 768px) {
  .ListF {
    margin: 1rem;
  }
}

.label2 {
  display:flex;
  color: rgb(216, 216, 216);
  margin: 0.5rem;
  align-self: flex-end;
}
@media(max-width:768px){
.label2 {
  align-self: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 0.2rem;
 }
}
.copy{
  display: block;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  color: rgb(171, 171, 171);
}

@media (max-width: 768px) {
  .copy {
    font-size: 100%;
    text-shadow: 0.2rem 0.2rem 0.1rem black;
  }
}

@media (max-width: 425px) {
  .copy {
    font-size: small;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
  }
}


.links {
  transition: 1s;
  text-decoration: none;
}
.links:hover {
  transition: 1s;
  text-decoration: none;
  text-shadow: 0.1rem 0.1rem 1rem wheat;
}

.ContainerFlecha {
  display: flex;
  flex-direction:column;
  gap:1rem;
  justify-content: center;
  height: 150px;
  margin-bottom:2rem;
  position: fixed;
  width: 100px;
  align-items: center;
  bottom: 1px;
  border-radius: 100%;
  right: 1px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

@media(max-width:768px){

  .ContainerFlecha{
    height:5rem;
    width:max-content;
    border-radius:35%;
    background-color:#0c0c0cad;
  }
}

.Flecha {
  width: max-content;
  height: max-content;
  margin: 0 auto;
  border-radius: 100%;
}
